/* line 2, public/sass/page/_login.scss */
.login {
  padding-top: 96px;
  position: relative;
  margin: auto;
  width: 375px; }
  /* line 8, public/sass/page/_login.scss */
  .login__logo {
    position: relative;
    width: 113.1px;
    height: 160px;
    margin: auto; }
    /* line 14, public/sass/page/_login.scss */
    .login__logo .lower-img {
      position: absolute; }
    /* line 18, public/sass/page/_login.scss */
    .login__logo .upper-img {
      z-index: 999;
      position: absolute;
      width: 75.92px;
      height: 108.45px;
      margin: 18.59px; }
  /* line 27, public/sass/page/_login.scss */
  .login__title {
    color: #151a30;
    margin-top: 24px; }
    /* line 30, public/sass/page/_login.scss */
    .login__title h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 8px;
      margin: auto; }
    /* line 38, public/sass/page/_login.scss */
    .login__title p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin: 8px auto; }
  /* line 46, public/sass/page/_login.scss */
  .login__control {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    padding: 20px; }
    /* line 52, public/sass/page/_login.scss */
    .login__control label {
      padding-bottom: 4px;
      font-size: 10px;
      line-height: 16px;
      font-weight: 700;
      color: #57627b;
      padding-left: 8px;
      text-transform: uppercase; }
    /* line 62, public/sass/page/_login.scss */
    .login__control .password-wrapper {
      width: 100%;
      position: relative; }
      /* line 65, public/sass/page/_login.scss */
      .login__control .password-wrapper input {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #c5cee0;
        line-height: 16px;
        padding: 10px 16px; }
      /* line 73, public/sass/page/_login.scss */
      .login__control .password-wrapper i {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%); }
      /* line 79, public/sass/page/_login.scss */
      .login__control .password-wrapper i:hover {
        color: #1273ea;
        cursor: pointer; }
  /* line 86, public/sass/page/_login.scss */
  .login__actions {
    text-align: center; }
    /* line 88, public/sass/page/_login.scss */
    .login__actions button {
      border-radius: 8px;
      background-image: linear-gradient(256.28deg, #1c94f4 0%, #1273ea 100%);
      padding: 10px 20px;
      color: white;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      border: none;
      cursor: pointer; }

/* line 1, public/sass/base/_base.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sf-pro-text"; }

/* line 13, public/sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center; }

@font-face {
  font-family: "sf-pro-text";
  src: local("sf-pro-text"), url(/public/assets/fonts/FontsFree-Net-SFProText-Regular.ttf) format("truetype"); }
