.login {
  padding-top: 96px;
  position: relative;
  width: 375px;
  margin: 0 auto;

  &__logo {
    position: relative;
    width: 113.1px;
    height: 160px;
    margin: auto;

    .lower-img {
      position: absolute;
    }

    .upper-img {
      z-index: 999;
      position: absolute;
      width: 75.92px;
      height: 108.45px;
      margin: 18.59px;
    }
  }

  &__title {
    color: $color-black;
    margin-top: 24px;
    h1 {
      @include text(32px, 700, 40px);
      margin: 0 auto 8px auto;
    }

    p {
      @include text(14px, 400, 20px);
      margin: 8px auto;
    }
  }

  &__control {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    label {
      padding-bottom: 4px;
      @include text(10px, 700, 16px, #57627b);
      padding-left: 8px;
      text-transform: uppercase;
    }

    .password-wrapper {
      width: 100%;
      position: relative;
      margin-bottom: 24px;
      input {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #c5cee0;
        line-height: 16px;
        padding: 10px 16px;
      }
      i {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
      }
      i:hover {
        color: #1273ea;
        cursor: pointer;
      }
    }
  }

  &__actions {
    text-align: center;
    margin-top: 24px;
    button {
      border-radius: 8px;
      background-image: linear-gradient(256.28deg, #1c94f4 0%, #1273ea 100%);
      padding: 10px 20px;
      @include text(14px, 600, 20px, white);
      border: none;
      cursor: pointer;
    }
  }
}
